. {
    padding: 0;
    margin: 0;
}
.gorden-background-atas {
    width: 100vw;
    height: 50vh;
    position: relative;
    background-color: rgb(0, 0, 0);
    bottom: 16007px;
    animation: 35s golden-background-atas ease 0s;
    opacity: 0;
}
@keyframes golden-background-atas {
    0%, 7.143% {
        background-color: rgb(0, 0, 0);
        opacity: 1;
    }
    8.571% {
        background-color: rgb(255, 255, 255);
        opacity: 1;
    }
    10%, 14.286%{
        background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
        opacity: 1;
    }
    17.143%, 82.857% {
        background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
        opacity: 1;
    }
    85.714% {
        background: linear-gradient(to top, rgb(255, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
        bottom: 16007px;
        opacity: 1;
    }
    88.571%, 100% {
        bottom: 16507px;
        opacity: 1;
    }
}
.gorden-background-bawah {
    width: 100vw;
    height: 50vh;
    position: relative;
    background-color: rgb(0, 0, 0);
    bottom: 16007px;
    animation: 35s golden-background-bawah ease 0s;
    opacity: 0;
}
@keyframes golden-background-bawah {
    0%, 7.143% {
        background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
        opacity: 1;
    }
    8.571% {
        background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
        opacity: 1;
    }
    10%, 14.286%{
        background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
        opacity: 1;
    }
    17.143%, 82.857% {
        background: linear-gradient(to top, rgb(255, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
        opacity: 1;
    }
    85.714% {
        background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
        opacity: 1;
        bottom: 16007px;
    }
    88.571%, 100% {
        bottom: 15507px;
        opacity: 1;
    }
}
.pembukaan-logo-pasif23 {
    position: relative;
    bottom: 16007px;
    opacity: 1;
}
.gorden-logo-pasif23-black {
    position: relative;
    bottom: 480px;
    animation: 10s gorden-logo-pasif23-black ease 0s;
    opacity: 0;
}
@keyframes gorden-logo-pasif23-black {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    10%, 40% {
        opacity: 1;
    }    
    50% {
        opacity: 0;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
.gorden-logo-pasif23-text-black {
    position: relative;
    bottom: 500px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    cursor: default;
    animation: 10s gorden-logo-pasif23-text-black ease 0s;
    opacity: 0;
}
@keyframes gorden-logo-pasif23-text-black {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    10%, 40% {
        opacity: 1;
    }    
    50% {
        opacity: 0;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
.gorden-logo-pasif23-white {
    position: relative;
    bottom: 705px;
    opacity: 0;
    animation: 10s gorden-logo-pasif23-white ease 0s;
}
@keyframes gorden-logo-pasif23-white {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    35% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
.gorden-logo-pasif23-text-white {
    position: relative;
    bottom: 725px;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    cursor: default;
    opacity: 0;
    animation: 10s gorden-logo-pasif23-text-white ease 0s;
}
@keyframes gorden-logo-pasif23-text-white {
    0% {
        transform: scale(1);
        opacity: 0%;
    }
    25% {
        opacity: 0%;
    }
    30% {
        opacity: 100%;
    }
    35% {
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        transform: scale(1.5);
        opacity: 0%;
    }
}
.loader {
    --col1: rgba(228, 19, 141, 0.925);
    --col2: rgb(255, 179, 80);
    font-size: 2em;
    font-weight: 600;
    perspective: 800px;
    position: relative;
  }  
  .loader::after,
  .loader::before,
  .loader .text::after,
  .loader .text::before {
    perspective: 800px;
    animation: anim 2s ease-in-out infinite, dotMove 10s ease-out alternate infinite, move 10s linear infinite 1s;
    ;
    content: '●';
    color: var(--col1);
    position: absolute;
    translate: -60px 500px;
    width: 5px;
    height: 5px;
  }  
  .loader::before {
    animation-delay: 3s;
    color: var(--col1);
  }  
  .loader .text::before {
    color: var(--col2);
    animation-delay: 2s;
  }  
  .loader .text::after {
    color: var(--col2);
  }  
  .loader .text {
    animation: anim 20s linear infinite, move 10s linear infinite 1s;
    color: transparent;
    background-image: linear-gradient(90deg, 
    var(--col1) 0%,
    var(--col2) 100%);
    background-clip: text;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: skew(5deg, -5deg);
    -webkit-background-clip: text;
    position: relative;
  }  
  @keyframes anim {
    0%, 100% {
      text-shadow: 2px 0px 2px rgba(179, 158, 158, .5);
    }  
    50% {
      background-size: 0%;
      background-position-x: left;
      text-shadow: 2px 10px 6px rgba(179, 158, 158, 1);
    }

  }  
  @keyframes move {
    50% {
      translate: 0px 0px;
      rotate: x 60deg;
      transform: skew(-5deg, 5deg);
    }
  }  
  @keyframes dotMove {
    0%, 100% {
      translate: -60px 300px;
    }  
    50% {
      translate: 160px -250px;
      scale: .5;
      opacity: .85;
    }
  }
  .loading {
    position: relative;
    bottom: 16825px;
    color: white;
    animation: 35s loading ease 0s;
    font-size: 30px;
    opacity: 0;
  }
  @keyframes loading {
    0%, 22.857% {
        opacity: 0%;
    }
    25.714%, 82.857% {
        opacity: 100%;
    }
    85.714%, 100% {
        opacity: 0%;
    }
  }